.santa-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: transparent;
    overflow: hidden;
    pointer-events: none;
    z-index: 10;
}

#snowfallCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.santa {
    position: fixed;
    z-index: 12;
    width: 220px;
    height: auto;
    z-index: 1000;
    pointer-events: none;
}

.present {
    position: fixed;
    width: 15px;
    height: auto;
    z-index: 999;
    pointer-events: none;
}